<!-- HEADER-SECTION START -->
<section class="main-header-section" ng-controller="TopNavigationController as vm">

    <!-- header-section -->
    <div class="fixed-header-section">
        <div class="header-wrapper">
            <div class="col-sm-8 logo-wrapper">
              
                <h2 class="logo-text">Paging Sample</h2>
            </div>
            <div class="col-sm-4 user-wrapper">
                <ul class="pull-right">
                    <li>
                        <a href=""><i class="fa fa-user" aria-hidden="true"></i> </a>
                    </li>
                    <li>
                        <a href="" ><i class="fa fa-power-off" aria-hidden="true"></i> sign out</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/a2i.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /header-section -->
</section>
<!-- HEADER-SECTION END -->